/*estilo para el body*/
body {
    background-image: url("../img/background_stars.jpg");
}
/*estilo para el header*/
header {
    background-color: black;
    height: 70px;
}
figure {
    float: left;
    margin: 0;
}
nav {
    float: right;
}
#bar_nav li{
    /*float: left;*/
    display: inline;
}
#bar_nav li:hover {
    text-decoration: line-through;
    font-style: italic;
}
/*estilo para el contenido*/
p, span, li {
    font-family: 'Pathway Gothic One';
    font-size: large;
    font-weight: 600;
    letter-spacing: 3px;
}
h1 {
    text-decoration: overline;
    text-align: center;
}
#contenedor_princ {
    display: inline-block;
    height: 2800px;
}
#aside_izq {
    height: 100%;
    width: 15%;
    float: left;
    background-color: #F2552C;
}
#aside_der {
    height: 100%;
    width: 15%;
    float: right;
    background-color: #e03131;
}
#secc_principal {
    width: 70%;
    float: left;
}
h2 {
    text-decoration: underline;
}
h1, h2, h3, h4{
    font-family: 'Pathway Gothic One';
    color: yellow;
}
#introduccion {
    background-color: transparent;
}
span {
    color: #e8bd20
}
p{
    text-align: justify;
    color: #e8bd20;
    line-height: 150%;
}
#indentado {
    text-indent: 100px;
    text-transform: uppercase;
}
#italic {
    font-style: italic;
    word-spacing: 10px;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: #e03131;
}
a:hover {
    color: yellow;
}
a:active {
    color: aqua;
}
li {
    color: #e8bd20;
    list-style: none;
}

/*estilo para el pie de pagina*/
footer {
    height: 200px;
    background-color: black;
    text-align: center;
}
#vinculos_footer {
    display: inline;
}
footer div a {
    margin-left: 5px;
    margin-right: 5px;
}






#encabezamiento {
    background-color: aqua;
}
#menu {
    background-color: aquamarine;
}