/* Capitulo 8 */
/* * {
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.titulo {
    color: red;
}
#titulo2 {
    color: blue;
}
h3 {
    color: green;
}
article h4 {
    color: purple;
}
ul > li {
    font-weight: bold;
}
ul > h4 {
    color: aqua;
} */

/* Capitulo 9 */
article > h4 {
    color: rebeccapurple;
}
h1 ~ h2 {
    color: green;
}
h1 + h2 {
    color: blue;
}

/* Capitulo 10 */
/* h2[class] {
    background-color: aqua;
} */
/* h2[class="h2Section"] {
    background-color: aquamarine;
} */
/* h2[class*="Section"] {
    background-color: cadetblue;
}
h2[class~="Section"] {
    background-color: cornflowerblue;
} */

/* Capitulo 11 */
a:link {
    color: red;
    font-weight: bold;
}
a:visited {
    color: aqua;
}
/* h2:hover {
    background-color: aqua;
} */
/* h2:active {
    background-color:red; 
} */
h2:focus {
    background-color: chartreuse
}
input:focus {
    border-color: green;
    border-style: dashed;
}